@import url('/src/utils/colors.css');
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	display: flex;
	padding: 1rem auto 0;
	justify-content: space-between;
	align-items: center;
	color: var(--secondary-font-color);
	font-size: 1.2em;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 10;
	background-color: var(--secondary-gray);
	overflow: hidden;
}

.heading {
	letter-spacing: 1.5px;
	margin-left: 1.5rem;
}

.heading h2 {
	font-weight: bold;
}

.heading span {
	color: var(--primary-red);
}

.icon svg {
	width: 2em;
	height: 2em;
	margin-right: 1.5rem;
	color: var(--primary-red);
}

.hero-bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main-image {
	width: 110%;
	margin-top: 5rem;
	height: 22rem;
	z-index: 0;
	overflow: hidden;
	background-image: url('/src/assets/speedometer-1249610_640.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	transform: rotateZ(-6deg) translateY(-4rem) translateX(-1rem);

}

.hero-shadow {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}

@media (min-width: 768px) {
	.header {
		height: 6rem;
	}
	.heading {
		font-size: 1.4em;
		letter-spacing: 2px;
		margin-left: 2.5rem;
	}
	.icon svg {
		width: 2.5em;
		height: 2.5em;
		margin-right: 2.5rem;
	}

	.main-image {
		background-image: url('/src/assets/speedometer-1249610_1280.jpg');
	transform: rotateZ(-4deg) translateY(-4rem) translateX(-1rem);

	}
	.hero-shadow {
		background-color: rgba(0, 0, 0, .4);
	}
}

@media (min-width: 992px) {
	.heading {
		letter-spacing: 2.5px;
		margin-left: 4rem;
	}

	.icon svg {
		margin-right: 4rem;
	}

	.main-image {
		background-image: url('/src/assets/speedometer-1249610_1920.jpg');
	}
	.hero-shadow {
		background-color: rgba(0, 0, 0, .5);
	}
}
