@import url('/src/utils/colors.css');

.avalible-cars {
	max-width: 60rem;
	width: 90%;
	margin: 2rem auto;
	animation: cars-appear 1s ease-out forwards;
	overflow: hidden;
	box-shadow: none;
}

.avalible-cars ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

.http-error {
	text-align: center;
	color: var(--error-text);
}

@media (min-width: 768px) {
	.avalible-cars {
		max-width: 90rem;
	}
	.avalible-cars ul {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}
}

@media (min-width: 992px) {
	.avalible-cars {
		width: 95%;
		max-width: 110rem;
	}
}

@keyframes cars-appear {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
